<%= render "layouts/mini_nav" %>

<%= render "layouts/nav" %>

<div class="header ">
    <div class="container-fluid services-header background">
        <div class="row">
            <div class="col-md-12">
                <%= image_tag "q.png", class: "top_Q_header" %>
            </div>
        </div>
    </div>
</div>

<div class="section nopadding ">
    <div class="container-fluid small-gaps" id="icon-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h1>OUR SERVICES</h1>
                    <p class="white">QuickRxis committed to offering much more than just breakthrough medications. Learn more about the
                        value-added services we provide to our customers.</p>

                </div>
            </div>
            <div class="row text-center benefits mt-20">
                <div class="col-md-2 col-sm-3 col-xs-6 text-center">
                    <a href="" class="icon-link">
                        <div class="custom-icons">
                            <%= image_tag "/images/edu_icon.png", class: "icon" %>
                        </div>
                        <h2>EDUCATION</h2>
                    </a>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6 text-center">
                    <a href="" class="icon-link">
                        <div class="custom-icons">
                            <%= image_tag "/images/finance_icon.png", class: "icon" %>
                        </div>
                        <h2>FINANCIAL ASSISTANCE</h2>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6 col-md-2 text-center">
                    <a href="" class="icon-link">
                        <div class="custom-icons first-child">
                            <%= image_tag "distribution.png", class: "icon first-icon" %>
                        </div>
                        <h2>LIMITED DISTRIBUTION MEDICATIONS</h2>
                    </a>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6 text-center">
                    <a href="" class="icon-link">
                        <div class="custom-icons">
                            <%= image_tag "portal.png", class: "icon" %>
                        </div>
                        <h2>PORTAL TECHNOLOGY</h2>
                    </a>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6 text-center">
                    <a href="" class="icon-link">
                        <div class="custom-icons">
                            <%= image_tag "privacy.png", class: "icon" %>
                        </div>
                        <h2>PRIVACY</h2>
                    </a>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6 text-center">
                    <a href="" class="icon-link">
                        <div class="custom-icons">
                            <%= image_tag "q_a.png", class: "icon" %>
                        </div>
                        <h2>QUALITY ASSURANCE</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section services-page">
    <div class="container-fluid mt-30 pb-30" id="profile">
        <div class="row">
            <div class="col-sm-3 ">
                <div class="profile-box">
                    <%= image_tag "portal-2x.png", width: "100%" %>
                </div>
            </div>
            <div class="col-sm-9  plr-50">
                <div class="col-xs-12 bordering-form" style="padding-bottom:20px; padding-top:0px;">
                    <h1 style="color:#333 !important;">ENROLLMENT FORMS</h1>
                    <p class="col-sm-6" style="font-size:13px; line-height:1.2;">Discover the latest webinars, case studies, mobile tools, presentations, and publications from QuickRx.</p>
                </div>
                <div class="col-xs-12" style="padding-bottom:20px;">
                    <h1 style="color:#333 !important;">CASE STUDY</h1>
                    <div class=" col-xs-12 case-study">
                        <div class="col-sm-4">
                            <%= image_tag "graph.jpg", width: "100%" %>
                        </div>
                        <div class="col-sm-8">
                            <h3>Header Header Header Header</h3>
                            <p style="font-size:13px; line-height:1.2;">Discover the latest webinars, case studies, mobile tools, presentations, and publications
                                from QuickRx.</p>
                            <p style="width:30%;">Discover the latest webinars, case studies, mobile tools, presentations, publications from
                                QuickRx.
                            </p>
                            <div class="form-button text-left">
                                <button type="submit" class="btn btn-default btnsubmit">Download PDF</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render "layouts/partner_logos" %>
<%= render "layouts/footer" %>
