<div class="row text-center benefits mt-20">
    <div class="col-md-2 col-sm-3 col-xs-6 text-center">
        <a href="" class="icon-link">
            <div class="custom-icons" id="HIV">
                <%= image_tag "/images/specialties/6.png", class: "icon" %>
            </div>
            <h2>HIV</h2>
        </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 text-center">
        <a href="" class="icon-link">
            <div class="custom-icons" id="oncology">
                <%= image_tag "/images/specialties/1.png", class: "icon first-icon" %>
            </div>
            <h2>ONCOLOGY</h2>
        </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 text-center">
        <a href="" class="icon-link">
            <div class="custom-icons" id="hd">
                <%= image_tag "/images/specialties/2.png", class: "icon" %>
            </div>
            <h2>HUNTINGTON'S DISEASE</h2>
        </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 text-center">
        <a href="" class="icon-link">
            <div class="custom-icons" id="ms">
                <%= image_tag "/images/specialties/3.png", class: "icon" %>
            </div>
            <h2>MULTIPLE SCLEROSIS</h2>
        </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 text-center">
        <a href="" class="icon-link">
            <div class="custom-icons" id="hepc">
                <%= image_tag "/images/specialties/4.png", class: "icon" %>
            </div>
            <h2>HEPATITIS C</h2>
        </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 text-center">
        <a href="" class="icon-link">
            <div class="custom-icons" id="hepb">
                <%= image_tag "/images/specialties/5.png", class: "icon" %>
            </div>
            <h2>HEPATITIS B</h2>
        </a>
    </div>
</div>
<div class="row text-center benefits mt-20">

    <div class="col-md-2 col-sm-3 col-xs-6 text-center">
        <a href="" class="icon-link">
            <div class="custom-icons" id="chelation">
                <%= image_tag "/images/specialties/7.png", class: "icon" %>
            </div>
            <h2>CHELATION THERAPY</h2>
        </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 text-center">
        <a href="" class="icon-link">
            <div class="custom-icons" id="addiction">
                <%= image_tag "/images/specialties/8.png", class: "icon" %>
            </div>
            <h2>ADDICTION MANAGEMENT</h2>
        </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 text-center">
        <a href="" class="icon-link">
            <div class="custom-icons" id="immuno">
                <%= image_tag "/images/specialties/9.png", class: "icon" %>
            </div>
            <h2>IMMUNODEFICIENCY</h2>
        </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 text-center">
        <a href="" class="icon-link">
            <div class="custom-icons" id="gastro">
                <%= image_tag "/images/specialties/10.png", class: "icon" %>
            </div>
            <h2>GASTROENTEROLOGY</h2>
        </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 text-center">
        <a href="" class="icon-link">
            <div class="custom-icons" id="ra">
                <%= image_tag "/images/specialties/11.png", class: "icon" %>
            </div>
            <h2>RHEUMATOID ARTHRITIS</h2>
        </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 text-center">
        <a href="" class="icon-link">
            <div class="custom-icons" id="dvt">
                <%= image_tag "/images/specialties/12.png", class: "icon" %>
            </div>
            <h2>DEEP VEIN THROMBOSIS</h2>
        </a>
    </div>
</div>

<%= javascript_include_tag 'quickrx.js' %>
<%= javascript_include_tag 'specialties.js' %>
