<%= render "layouts/mini_nav" %>

<%= render "layouts/nav" %>

<div class="header">
    <div class="container-fluid specialities-header background">
        <div class="row">
            <div class="col-md-12">
                <%= image_tag "q.png", class: "top_Q_header" %>
            </div>
        </div>
    </div>
</div>
<div class="section nopadding">
    <div class="container-fluid small-gaps" id="icon-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h1>OUR SPECIALTIES</h1>
                <p class="white">Offering breakthrough medications for a variety of health conditions along with the knowledge our customers need to make the most of these options. That’s our specialty</p>
                </div>
            </div>
            <%= render "special_icons" %>
        </div>
    </div>
</div>
<div class="section ">
    <div class="container-fluid mt-30 pb-30" id="profile">
      <% if @article %>
        <%= render @article %>
      <% else %>
        <%= render "hepc" %>
      <% end %>
    </div>
</div>

<%= render "layouts/partner_logos" %>
<%= render "layouts/footer" %>

<script type="text/javascript">
  $( document ).ready( function() {
    var id = window.location.href.split( "?article=" )[ 1 ];
    var address = "#" + id + " .icon";
    var src = $(address).attr("src").match(/[^\.]+/) + "over.png";
    $(address).attr("src", src);
    $( "#" + id ).addClass( "white-impt-bg" )
  });
</script>
