<%= render "layouts/mini_nav" %>

<%= render "layouts/nav" %>

<div class="header">
    <div class="container-fluid specialities-header background">
        <div class="row">
            <div class="col-md-12">
                <%= image_tag "q.png", class: "top_Q_header" %>
            </div>
        </div>
    </div>
</div>
<div class="section nopadding">
    <div class="container-fluid small-gaps" id="icon-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h1>OUR SPECIALTIES</h1>
                <p class="white">Offering breakthrough medications for a variety of health conditions along with the knowledge our customers need to make the most of these options. That’s our specialty</p>
                </div>
            </div>
            <%= render "special_icons" %>
        </div>
    </div>
</div>
<div class="section ">
    <div class="container-fluid mt-30 pb-30" id="profile">
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-7 ">
                <div class="profile-box">
                    <%= image_tag "card.png", width: "100%" %>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-5  pl-50">
                <h1>CARDIOVASCULAR DISEASE</h1>
                <p>QuickRx is a national specialty pharmacy dedicated to meeting the unique needs of individuals with cardiovascular
                    disease.</p>
                <p><b>Cardiovascular Disease Medications</b></p>
                <p>The medications used for treatment of cardiovascular disease can be highly complex and that’s why Avella
                    is dedicated to providing you with guidance, support and education.</p>
                <p>Avella stocks all of the most advanced cardiovascular disease medications, including the hard-to-find
                    and newly released drugs. We offer these innovative therapies at our physical pharmacy locations
                    and through our delivery and mail order services.</p>
                <p>To learn more about the specialty medications used to treat cardiovascular disease, <a href="">click here.</a></p>
                <button type="submit" class="btn btn-default btnsubmit">Download A Refferal Form</button>
            </div>
        </div>
    </div>
</div>

<%= render "layouts/partner_logos" %>
<%= render "layouts/footer" %>
