<%= render "layouts/mini_nav" %>

<%= render "layouts/nav" %>

<div class="header">
    <div class="container-fluid form-header background">
        <div class="row">
            <div class="col-md-12">
                <%= image_tag "q.png", class: "top_Q_header" %>
            </div>
        </div>
    </div>
</div>

<div class="section ">
    <div class="container-fluid mt-30 pb-100 contact-page" id="profile">
        <div class="row">
            <div class="col-sm-4 col-lg-3">
                <div class="profile-box2">
                    <%= image_tag "card.png", width: "100%" %>
                </div>
            </div>
            <div class="col-sm-8 col-lg-9  plr-50">
                <div class="col-xs-12 bordering-form" style="padding-bottom:20px;">
                    <h1 style="color:#333 !important;">ENROLLMENT FORMS</h1>
                    <p class="col-sm-6" style="font-size:13px; line-height:1.2;">Discover the latest webinars, case studies, mobile tools, presentations, and publications from QuickRx.</p>
                </div>
                <div class="col-xs-12 bordering-form">
                    <h1 style="margin:0px;">FORM No.1</h1>
                    <p class="col-sm-6">Discover the latest webinars, case studies, mobile tools, presentations, and publications from QuickRx.</p>
                    <div class="form-button text-right">
                        <button type="submit" class="btn btn-default btnsubmit">Download PDF</button>
                    </div>
                </div>
                <div class="col-xs-12 bordering-form">
                    <h1 style="margin:0px;">FORM No.1</h1>
                    <p class="col-sm-6">Discover the latest webinars, case studies, mobile tools, presentations, and publications from QuickRx.</p>
                    <div class="form-button text-right">
                        <button type="submit" class="btn btn-default btnsubmit">Download PDF</button>
                    </div>
                </div>
                <div class="col-xs-12 bordering-form">
                    <h1 style="margin:0px;">FORM No.1</h1>
                    <p class="col-sm-6">Discover the latest webinars, case studies, mobile tools, presentations, and publications from QuickRx.</p>
                    <div class="form-button text-right">
                        <button type="submit" class="btn btn-default btnsubmit">Download PDF</button>
                    </div>
                </div>
                <div class="col-xs-12 bordering-form">
                    <h1 style="margin:0px;">FORM No.1</h1>
                    <p class="col-sm-6">Discover the latest webinars, case studies, mobile tools, presentations, and publications from QuickRx.</p>
                    <div class="form-button text-right">
                        <button type="submit" class="btn btn-default btnsubmit">Download PDF</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render "layouts/partner_logos" %>

<%= render "layouts/footer" %>
