<h1>This email was generated from Quick RX Specialty Pharmacy</h1>
<p><%= @first_name %></p>
<p><%= @last_name %></p>
<p><%= @city %></p>
<p><%= @state %></p>
<p><%= @phone %></p>
<p><%= @email %></p>
<br>
<br>
Message:

<p><%= @message %></p>

Please respond ASAP!
