<section id="cd-timeline" class="cd-container">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-start ci-tl">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Quick RX is Born</h2>
      <p>Elan Katz, a Long Island University trained pharmacist, founds QuickRx pharmacy. His efforts to attain his dream of providing reliable health care to his community had finally come to fruition.</p>
      <span class="cd-date">April 5th, 2000</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block trick-hide">
    <div class="cd-timeline-img cd-picture bedstuy-tl">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content no-shadow">
      <span class="cd-date">September 30th, 2009<br>QuickRX of Bronx is born.</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture bedstuy-tl">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content no-shadow">
      <span class="cd-date">September 8th, 2005<br>QuickRX Bedstuy is born.</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block trick-hide">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag '/images/timeline/cd-icon-picture.svg' %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content no-shadow">
      <span class="cd-date">September 30th, 2009<br>QuickRX of Bronx is born.</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-start year5-tl">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>5 Year Milestone</h2>
      <p>QuickRX had developed into a community recognized establishment and thus in order to continue it's quest to provide patients of various backgrounds, with proper knowledge of medicinal practices and excellent customer service, a plan of rapid growth was created and executed!</p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block trick-hide">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag '/images/timeline/cd-icon-picture.svg' %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content no-shadow">
      <span class="cd-date">September 30th, 2009<br>QuickRX of Bronx is born.</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture ave2-tl">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content no-shadow">
      <span class="cd-date">November 1st, 2006<br>QuickRX 2nd Avenue is born.</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture lex-tl">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content no-shadow">
      <span class="cd-date">January 11th, 2007<br>QuickRX Lexington Avenue is born.</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture col-tl">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content no-shadow">
      <span class="cd-date">December 14th, 2007<br>QuickRX Columbus is born.</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture fulton-tl">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content no-shadow">
      <span class="cd-date">July 25th, 2008<br>QuickRX of Fulton is born.</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture audubon-tl">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content no-shadow">
      <span class="cd-date">July 10th, 2009<br>QuickRX Audubon is born.</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture blondell-tl">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content no-shadow">
      <span class="cd-date">September 30th, 2009<br>QuickRX of Bronx is born.</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block trick-hide">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag '/images/timeline/cd-icon-picture.svg' %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content no-shadow">
      <span class="cd-date">September 30th, 2009<br>QuickRX of Bronx is born.</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-2 ltc-tl">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Long Term Care</h2>
      <p>QuickRx celebrates yet another pharmacy opening, Long Term Care in New York City. We do not aim to assist only patients that come into our pharmacy. The establishment of LTC allows us to extend our care to patients who are being served in health facilities. </p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block trick-hide">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag '/images/timeline/cd-icon-picture.svg' %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content no-shadow">
      <span class="cd-date">September 30th, 2009<br>QuickRX of Bronx is born.</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture hunt-tl">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content no-shadow">
      <span class="cd-date">March 11th, 2013<br>QuickRX of Huntington is born.</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture ns-tl">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content no-shadow">
      <span class="cd-date">March 5th, 2015<br>QuickRX 96th Street is born.</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block trick-hide">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag '/images/timeline/cd-icon-picture.svg' %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content no-shadow">
      <span class="cd-date">September 30th, 2009<br>QuickRX of Bronx is born.</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-start urac-tl">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>QuickRX & URAC</h2>
      <p>QuickRx achieves URAC accreditation! This moment, almost a year in the making, is another step towards demonstrating the efforts our team puts into providing our patients with the best care.</p>
      <span class="cd-date">July 13th, 2017</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->
</section> <!-- cd-timeline -->

<!-- <div class="container">
  <div class="container-fluid">
    <div class="image-holder-ek">
      <%= image_tag 'elan_trans.png' %>
    </div>
  </div> -->

  <div class="text-holder-main">
    <div class="elan-body-txt">
      <h3>A Message From Our Founder:</h3>
      <p>
        Nearly 18 years ago I founded QuickRx with a vision of providing New Yorkers patient care they can depend on. As early as attending my first classes in LIU Pharmacy School I understood the urgency in serving communities most in need. Beyond dispensing medication, QuickRx has always served as an educator and counselor aiding patients in providing the most effective and innovative treatment approach.
      </p>
      <p>
        It is a humbling experience to have gained the trust of New York amazing (better adj) residents and most prestige organizations
      </p>
      <p>
        Effective and urgent patient care has been a priority of mine since attending my first pharmacy classes at Long Island University.
      </p>
      <p>
        I believe that our image is defined by not only our values but the steps we take towards transforming those values into something concrete. QuickRx is the embodiment of my work towards making my values a tangible entity. I aim to continue my vision of QuickRx being a nation-wide pharmacy with a community touch. At QuickRx we create connections and change by encouraging a consistent work ethic and incorporating the values and opinions of all of our team members.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid bottom-bar-trick">
</div>
