<%= render "layouts/mini_nav" %>

<%= render "layouts/nav" %>

<div class="header">
    <div class="container-fluid contact-header background">
        <div class="row">
            <div class="col-md-12">
                <%= image_tag "q.png", class: "top_Q_header" %>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container-fluid contact-page" id="contact">
        <div class="row">
            <div class="col-md-6 ">
                <div id="map"></div>
                <div id="map_overlay">
                </div>
            </div>
            <div class="col-md-6 small-gaps" id="form-box">
                <h1 class="contact_h1 pdt-5">CONTACT US</h1>

                <div class="col-md-6">
                    <% if @contact_success %>
                      <p class="form_subhead">Thank you for submitting the form. Someone will contact you shortly!</p>
                    <% else %>
                      <p class="form_subhead">For more information please fill out your details and we will contact you shortly</p>
                      <%= render "layouts/contact" %>
                    <% end %>
                </div>
                <div class="col-md-6">
                    <h5 class="address_heading">QuickRX Specialty Pharmacy</h5>
                    <p>1642 Eastchester Rd.</p>
                    <p>Bronx, NY 10461</p>
                    <p>Telephone: 800-496-6111</p>
                    <div class="col-md-12 form-social">
                        <a href="#" class="social-icon-inverse"><i class="fa fa-twitter "></i></a>
                        <a href="#" class="social-icon-inverse"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon-inverse"><i class="fa fa-youtube-play"></i></a>
                        <a href="#" class="social-icon-inverse"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon-inverse"><i class="fa fa-google-plus"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<%= render "layouts/partner_logos" %>

<%= render "layouts/footer" %>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv3_Wn8zF-3nDgK2ntMPp40GKrqia1Azw&callback=initMap">
</script>

<script>
	function initMap() {
		var e = { lat: 40.8453968, lng: -73.84465449999999 },
				i = new google.maps.Map(document.getElementById("map"),
				{ zoom: 15, center: e, scrollwheel: false }),
				n = '<div id="content"><div id="siteNotice"></div><div id="bodyContent"><p>QuickRX Specialty Pharmacy</p></div></div>',
				o = new google.maps.InfoWindow({ content: n }),
				t = new google.maps.Marker({ position: e,
																		 map: i,
																		 title: "1642 Eastchester Rd., Bronx, NY 10461" });
																		 t.addListener("click", function () { o.open(i, t) })
	}

	$('#map_overlay').click(function(event){
		event.preventDefault();
		$('#map').trigger(event);
	});
</script>
