<%= render "layouts/mini_nav" %>

<%= render "layouts/nav" %>

<div class="header">
    <div class="container-fluid contact-header background">
        <div class="row">
            <div class="col-md-12">
                <%= image_tag "q.png", class: "top_Q_header" %>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container-fluid contact-page" id="contact">
        <div class="row">
            <div class="col-md-6 ">
                <div id="map"></div>
                <div id="map_overlay">
                </div>
            </div>
            <div class="col-md-6 small-gaps" id="form-box">
                <h1 class="contact_h1 pdt-5">CONTACT US</h1>

                <div class="col-md-6">
                    <p class="form_subhead">For more information please fill out your details and we will contact you shortly</p>
                    <form id="contact_form">
                        <div class="form-group">
                            <label for="firstname" class="sr-only">First Name</label>
                            <input type="text" class="form-control" id="firstname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="surname" class="sr-only">First Name</label>
                            <input type="text" class="form-control" id="surname" placeholder="Surname">
                        </div>
                        <div class="form-group">
                            <label for="addresss" class="sr-only">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <label for="city" class="sr-only">City</label>
                            <input type="text" class="form-control" id="city" placeholder="City">
                        </div>
                        <div class="form-group">
                            <label for="state" class="sr-only">State</label>
                            <input type="text" class="form-control" id="state" placeholder="State">
                        </div>
                        <div class="form-group">
                            <label for="zipcode" class="sr-only">Zip Code</label>
                            <input type="text" class="form-control" id="zipcode" placeholder="Zip COde">
                        </div>
                        <div class="form-group">
                            <label for="phone" class="sr-only">Phone</label>
                            <input type="text" class="form-control" id="phone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea id="form-text" class="form-control" rows="4" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">SEND</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <h5 class="address_heading">QuickRX Headquater</h5>
                    <p>90 Broad street, Suite 402</p>
                    <p>New York, NY 10004</p>
                    <p>Telephone: 212-249-8202</p>
                    <p>Email: support@qrpgroup.com</p>
                    <div class="col-md-12 form-social">
                        <a href="#" class="social-icon-inverse"><i class="fa fa-twitter "></i></a>
                        <a href="#" class="social-icon-inverse"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon-inverse"><i class="fa fa-youtube-play"></i></a>
                        <a href="#" class="social-icon-inverse"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon-inverse"><i class="fa fa-google-plus"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<%= render "layouts/partner_logos" %>

<%= render "layouts/footer" %>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv3_Wn8zF-3nDgK2ntMPp40GKrqia1Azw&callback=initMap">
</script>

<script>
	function initMap() {
		var e = { lat: 40.8453968, lng: -73.84465449999999 },
				i = new google.maps.Map(document.getElementById("map"),
				{ zoom: 15, center: e, scrollwheel: false }),
				n = '<div id="content"><div id="siteNotice"></div><div id="bodyContent"><p>QuickRX Specialty Pharmacy</p></div></div>',
				o = new google.maps.InfoWindow({ content: n }),
				t = new google.maps.Marker({ position: e,
																		 map: i,
																		 title: "1642 Eastchester Rd., Bronx, NY 10461" });
																		 t.addListener("click", function () { o.open(i, t) })
	}

	$('#map_overlay').click(function(event){
		event.preventDefault();
		$('#map').trigger(event);
	});
</script>
