<%= render "layouts/mini_nav" %>

<%= render "layouts/nav" %>

<div class="header">
    <div class="container-fluid contact-header background">
        <div class="row">
            <div class="col-md-12">
                <%= image_tag "q.png", class: "top_Q_header", alt: "QuickRX Symbol" %>
            </div>
        </div>
    </div>
</div>

<div class="section nopadding">
    <div class="container-fluid small-gaps" id="icon-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h1>PRIOR AUTHORIZATIONS</h1>
                <p class="white">At Quick Rx, we know how important it is to get medications on time!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section ">
    <div class="container-fluid mt-30 pb-30" id="profile">
      <div class="row justify-all">
          <div class="col-lg-4 col-md-3 col-sm-7 ">
              <div class="profile-box">
                  <%= image_tag "portal-2x.png", width: "100%" %>
              </div>
          </div>
          <div class="col-lg-4 col-md-7 col-sm-5  pl-50">
              <h1>The process for obtaining Prior Authorizations is tedious, time-consuming and altogether frustrating.</h1>
              <br>

              <p>Quick RX developed a solution for that. We have created a team dedicated to assisting physicians with Prior Authorizations who have years of experience working in the pharmaceutical field; our highly trained team members have specialized knowledge on which information to request from the doctors.
                <br>
                <br>
                We partner with Covermymeds and do all the work for you. All the doctor needs to do is just click a "send" button. Yes, it’s that easy! No need for phone calls or filling out difficult paperwork. Most of electronic PA’s take about 24 hours, but some of them are instantaneous. We will follow up with the plans; we will offer the alternatives in case if the medication is not covered; we will work with the insurance plans directly and will notify the patient. We care, and we always try to make the process as fast and simple as we can. Prior Authorizations department at Quick Rx works for you to free up your time and ensure that your patients can get the medications that they need.</p>
          </div>
      </div>
    </div>
</div>

<%= render "layouts/partner_logos" %>

<%= render "layouts/footer" %>
